/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
}

header {

}

.content {
  display: flex;
  flex-flow: row wrap;

  div {
    flex: 1 1 45%;
  }
}

footer {

}